<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brand</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/products-slider.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('components/fonts')%>
</head>
<body>
    <%- include('components/main-header')%>
    <div class="bimage">
        <div class="slogan">
            Let them talk <br />
            about BEAUTY
        </div>
    </div>
    <main class="main">
        <h1 class="title-section">New Collection</h1>
        <div class="new">
            <% products.forEach((product) => { %>
                <div class="product">
                    <div 
                        class="product-image"
                        style="background: url('<%= product.images[0]%>') center center / cover"
                    >
                    </div>
                    <div class="information">
                        <div class="title"><%= product.title%></div>
                        <div class="cost"><%= product.cost%> KGS</div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
    <div class="about">
        <div class="section">
            <i class="fa fa-truck"></i>
            <div class="text">
                Fast delivery
            </div>   
        </div>
        <div class="section">
            <i class="fa fa-globe"></i>
            <div class="text">
                There is all
            </div>   
        </div>
        <div class="section">
            <i class="fa fa-dollar"></i>
            <div class="text">
                Low prices
            </div>   
        </div>
    </div>       
</body>
</html>